<%-contentFor('body')%> 
<%-include('../includes/refresh.ejs', {position: {left: 1, bottom: 1}})%>
<div class="row d-flex justify-content-center">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="card-title">
                    لیست دانشحویان
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>شماره دانشجویی</th>
                            <th>کد ملی</th>
                            <th>تنظیمات</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>