<%-contentFor('body')%>

<div class="container">
    <%-include('../includes/error.ejs', {errors})%>
    <%-include('../includes/success.ejs', {success})%>
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-header card-header-primary" style="text-align: right;">
                    <p class="card-title">ایجاد مجوز</p>
                </div>
                <div class="card-body">
                    <form action="/panel/permission/add" method="POST">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="عنوان مجوز">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" name="label" class="form-control" placeholder="توصیحات مجوز">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-success btn-round btn-block">ایجاد</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>