<style>
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
  }

  .loader {
    display: none;
    margin-right: 1em;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.3em solid rgba(255, 255, 255, 0.2);
    border-right: 0.3em solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.3em solid rgba(255, 255, 255, 0.2);
    border-left: 0.3em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }

  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
</style>
<form id="cancelForm" class='hidden' style="position: fixed; bottom:-0.3em; left: 10em; z-index: 4;">
  <input type="hidden" name="questions" value="">
  <button id="applyButton" type="submit" class="btn btn-danger"
    style="display: flex; justify-content: center; align-items: center;">
    لغو
    <div class="loader"></div>

  </button>

</form>

<script>
  if (localStorage.getItem('mode') == 'exam_addQuestion_mode') {
    document.getElementById('cancelForm').style.display = 'block';
  }
  document.querySelector('#cancelForm').addEventListener('submit', event => {
    event.preventDefault();
    localStorage.clear();
    document.querySelectorAll('.selectCol').forEach(item => {
      item.classList.add('hidden');
    })
    localStorage.setItem('canceled', 'true');
    document.getElementById('applyQuestionsForm').style.display = 'none';
    document.getElementById('cancelForm').style.display = 'none';
  });
</script>