<link rel="stylesheet" href="/css/categoryCard.css"> 
<div class="card 1">
    <div class="card_image"> <img src="<%=imagePath%>" /> </div>
    <div class="card_title title-white">
        <p><%=title%></p>
    </div>
</div>