<%if(success.length > 0){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%success.forEach(message => {%>
            <p style="text-align: right;margin: 1em"><%=message%></p>
        <%})%>
        
    </div>
<%}%>
